@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(29, 29, 29);
  color: white;
  font-family: "Poppins";
}

#logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 70px;
  opacity: .5;
  -webkit-user-select: none;
  user-select: none;
}

.signup_nav {
  padding: 20px;
}
 
.signup_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form form {
  width: 400px;
}

.div-input {
  width: 100%;
  text-align: left;
}

.div-input input {
  width: 100%;
  height: 55px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 10px;
}

.div-input p {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#submit {
  margin-top: 20px;
}

#submit input {
  border-radius: 50px;
  font-size: 15px;
  background: white;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

#submit input:hover{
    opacity: .5;
}

form h1 {
  font-size: 40px;
}

.signup-login {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
